{% extends 'body.html' %}
{% load bootstrap5 %}

{% block title%} Datos personales {% endblock %}

{% block content %}
<div class="container rounded pb-3" style="font-size:.9em; background-color: #fff9;">
    <h2 class="mt-3">Antes de continuar debes completar el siguiente formulario</h2>
    <h2 style="font-size:1.4em; position:relative; display:inline-block; left:370px;top:35px; background-color:#fff;color:red;" class="p-3"  >Completar formulario de datos personales</h2>        
    <div class="w-50 mx-auto px-5 py-2 rounded border border-dark ">          
        <br>
        <form action="" method="post" class="signup-form">
        {% csrf_token %}    
            {%bootstrap_form form%}
            <button type="submit" class="btn-submit">Completar</button>            
        </form>             
    </div>
</div>    
{% endblock%}