{% extends 'body.html' %}
{% load bootstrap5 %}

{% block title%} Datos personales {% endblock %}

{% block content %}
<div class="w-75 m-auto rounded pb-3 mb-3" style="font-size:.9em; background-color: hsl(0, 0%, 87%, 0.8);">
    <h2 class="mt-3 p-3" style="background-color:#76323f; color:white">Antes de continuar debes completar el siguiente formulario</h2>
    <h2 style="font-size:1.4em; position:relative; display:inline-block; left:420px;top:35px; background-color:#fff;color:black;" class="p-3"  >Datos personales</h2>        
    <div class="w-50 mx-auto px-5 py-2 rounded border border-dark ">          
        <br>
        <form action="" method="post" class="signup-form">
        {% csrf_token %}    
            {%bootstrap_form form%}
            <button type="submit" class="btn-submit">Completar</button>            
        </form>             
    </div>
</div>    
{% endblock%}