{%extends 'body.html' %}

    

{% block title%}Registrarse{% endblock %}


<!-- Dark mode -->
{% block content %}


            
    <div class="iniciar-sesion ">  
        <h3 class="text-center">Iniciar sesión</h3>    
        <br>
        <form action="" method="post" class="signup-form">
        {% csrf_token %}    
            {{ form.as_p}}
            <button type="submit" class="btn-submit">Iniciar sesión</button>            
        </form>
        <br>
        <p>No estás registrado?, registrate <a href="{% url 'signup' %}" onclick="left()" >Aqui</a></p>        
    </div>

{% endblock %}