{% extends 'usuario.html' %}
{% load humanize %}
{% load bootstrap5 %}
{% block usercontent %}

<h2 class="mt-2 py-3"  style="background-color:#76323f;color:white">Sondeos</h2>    

<div class="container " style="" >
    <div class="row my-4 ">  
    {% for sondeo in sondeos %}
    
      {% if sondeo.id_parametro %}
        {% if sondeo.id_parametro and sondeo.id_parametro.genero_p != "" and sondeo.id_parametro.genero_p == usuarioActual.genero  %}    
          {% if sondeo.fecha_publicacion_s <=  fecha_actual and sondeo.fecha_cierre_s >= fecha_actual %}
      
            {% include 'sondeoCard.html'%}  
          {% endif %}
        {% endif %}  
      {% else %}
        {% include 'sondeoCard.html' %}      
      {% endif %}    
    {% endfor %}            
    </div>    
</div>

{% endblock %}