{% extends 'body.html' %}

{% block title %} Validar{% endblock title %}

{% block content %}
<div class="row" >
    <h2 class="py-4" style="background-color:#76323f;color:white" class="py-4">Validar un certificado de participación</h2>
    <div class="col-6" >
        <div class=" container w-50 py-4 my-2" style="background-color :hsl(0, 0%, 87%, 0.6);">      
            <form class="  m-auto" method="post" >
                {% csrf_token %}
                <label for="" class="form-label">Radicado certificado</label>
                <input type="number" class="form-control" name="id_certificado" id="" aria-describedby="helpId" placeholder="Radicado certificado">
                <label for="" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="" aria-describedby="helpId" placeholder="Nombre">
                <label for="" class="form-label">Número de identificación</label>
                <input type="number" class="form-control mb-3" name="documento" id="" aria-describedby="helpId" placeholder="Número de identificación">
                <button type="submit" class="btn-submit  " >Validar certificado</button>
            </form>
    
        </div>
    </div>
    <div class="col-4 " style="background-color: hsl(0, 0%, 100%, 0.8);" >
        <h4 class="text-center mt-3 py-3 " style="background-color:#76323f;color:white">Validación</h4>    
        {% if request.method == "GET" %}
        <p class="text-center mt-5">Ingrese información para validar el certificado</p>
        {% elif sondeos %}
            {% for usuario in usuarios %}                
                {% if usuario.nombre == nombre or usuario.documento == documento %}                
                <h5 class="mt-5 text-center">El certificado se ha validado correctamente</h5>
                <p class=" bg-success py-3 mt-5 mx-3 text-center">Su certificado es válido</p>
                {% else %}
                <h5 class="mt-5 text-center">El certificado se ha validado </h5>
                <p class=" bg-danger py-3 mt-5 mx-3 text-center">Su certificado inválido</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center mt-5">No se encuentra ningun certificado que coincida con la descripción</p>
        {% endif %}
    </div>
    <p class="text-center mt-3">**Si desea descargar su certificado debe acceder al apartado usuario donde podrá descargarlo**</p>
</div>
{% endblock content %}